html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
	font-family: 'Muller';
	src: local('Muller-light'),
		url('../fonts/MullerLight.woff2') format('woff2'),
		url('../fonts/MullerLight.woff') format('woff');
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: local('Muller-Regular'),
		url('../fonts/MullerRegular.woff2') format('woff2'),
		url('../fonts/MullerRegular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: local('Muller-Medium'),
		url('../fonts/MullerMedium.woff2') format('woff2'),
		url('../fonts/MullerMedium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: local('Muller-Bold'),
		url('../fonts/MullerBold.woff2') format('woff2'),
		url('../fonts/MullerBold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
body {
  min-width: 1200px;
  font-family: 'Muller', sans-serif;
  background-color: #E5E5E5;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  cursor: pointer;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.container {
  max-width: 1170px;
  padding: 0 ;
  margin: 0 auto;
}

.header-btn-item,
.placement-item-btn,
.block-button,
.contact-btn {
  border: 1px solid #CC9933;
  color: #CC9933;
  background-color: #FFFFFF;
}



.head-container {
  align-items: center;
}

.up-header{
min-height: 70px;
padding: 0 45px ;
border-radius: 15px ;
background-color: #FFFFFF;
}

.header-contact-link {
  margin-right: auto;
  font-weight: 500;
  color: #666666;
}

.header-contact-link:hover {
  color: #CC9933;
}

.header-contact-link:focus {
  color: #CC9933;
  border: 1px solid #CC9933;
}

.header-contact-link:active {
  color: #A47312;
}

.header-nav {
  margin: 0;
  margin-right: auto;
  padding:17px 57px 17px 0;
  border-right: 1px solid #E1E1E1;
}

.header-start{
margin: 0 0  30px 0;
}

.header-logo {
  margin: 0 40px 0 0;
}

.personal-account {
  margin: 0;
  padding-left: 29px;
  color: #CC9933;
  background-image: url(../img/vector.svg);
  background-position: left, center;
  background-repeat: no-repeat;
}

.personal-account:hover {
  color: #E9C479;
}

.personal-account:focus {
  color: #CC9933;
  border: 1px solid #CC9933;
}

.personal-account:active {
  color: #A47312;
}

.header {
  margin: 0 0 70px 0;
  padding-top: 30px;
}

.header-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.haeder-list-item:not(last-child) {
  margin-left: 45px;
}

.haeder-list-item:first-child {
  margin: 0;
}

.header-link {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
}

.header-btn {
  margin: 0;
}

.header-btn-item {
  margin: 0;
  padding: 13px 20px;
  border-radius: 10px;
}

.header-btn-item:first-child{
  margin-right: 40px;
}

.header-btn-item:hover {
  border: 1px solid #CC9933 ;
  color: #FFFFFF;
  background-color: #CC9933;
}

.header-btn-item:focus {
  border: 1px solid #CC9933 ;
  color: #FFFFFF;
  background-color: #CC9933;
}

.header-btn-item:active {
  border: 1px solid #A47312 ;
  color: #FFFFFF;
  background-color: #A47312;
}

.main {
  margin: 0;
}

.home {
  margin: 0 0 70px 0;
}

.home-box  {
  flex-direction: column;
}

.home-special {
  margin: 0 0 20px 0;
  padding:0 0 0 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

.home-article {
  max-width: 1170px;
  flex-flow: column wrap;
  justify-content:space-between;
  height: 540px;
  margin: 0;
}

.home-item {
  display: inline-block;
  position: relative;
  margin: 0;
  border-radius: 15px ;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
}

.home-item-content {
  margin: 40px;
}

.home-third-content{
  margin: 211px 0 40px 40px;
}

.home-item:nth-child(1) {
  width: 573px;
  min-height : 258px;
  background-image: url(../img/img_23.jpg);
}

.home-item:nth-child(2) {
  width: 573px;
  min-height : 258px;
  background-image: url(../img/img_25.jpg);
}

.home-item:last-child {
  width: 573px;
  min-height: 540px;
  background-image: url(../img/img_24.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.home-item-title {
  max-width: 400px;
  margin: 0 0 15px 0;
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;

}

.home-item-descr {
  margin: 0 0 47px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}



.home-item-link {
  display: inline-block;
  position: absolute;
  left: -8px;
  top: -8px;
  margin: 0;
  padding:209px 455px 48px 48px;
  color: #FFCC66;
  background-image: url(../img/rectangle_2.svg);
  background-position: 137px 208px;
  background-repeat: no-repeat;
}

.home-item-link:hover{
  background-position: 148px 208px;
}

.home-item-link:active{
  color: #FFFFFF;
}

.home-item-link:focus{
  border: 1px solid #CC9933;
}

.third_link {
  display: inline-block;
  position: absolute;
  left: -8px;
  top: -8px;
  margin: 0;
  padding:491px 454px 48px 48px;
  color: #FFCC66;
  background-image: url(../img/rectangle_2.svg);
  background-position: 140px 490px;
  background-repeat: no-repeat;
}

.third_link:hover{
  background-position: 151px 490px;
}

.third_link:active{
  color: #FFFFFF;
}

.third_link:focus{
  border: 1px solid #CC9933;
}

.home-title {
  margin: 0;
  padding-left: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

.home-descr {
  width: 888px;
  margin: 0;
  padding-top:11px;
  font-size: 16px;
  line-height: 200%;
}

.services {
  margin: 0;

}

.services-title {
  margin: 0 0 20px 0;
  padding: 0 0 0 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

.services-list {
  flex-flow: row wrap;
  margin: 0 0 70px 0;
  justify-content: space-between;
}

.services-item {
  display: inline-block;
  width: 573px;
  min-height: 330px;
  position: relative;
  margin: 0;
  border-radius: 15px;
  background-color: #FFFFFF;
}
.services-item:nth-child(1) {
  margin-bottom: 23px;
  background-image: url(../img/img_1.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

.services-item:nth-child(2) {
  margin-bottom: 23px;
  background-image: url(../img/img_2.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

.services-item:nth-child(3) {
  background-image: url(../img/img_3.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

.services-item:nth-child(4) {
  background-image: url(../img/img_4.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}


.services-item-link {
  width: 589px;
  height: 346px ;
  display: block;
  position: absolute;
  left: -8px;
  top: -8px;
  padding: 191px 0 99px 45px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #CC9933;
  background-image: url(../img/rectangle_2.svg);
  background-repeat: no-repeat;
}

.services_link_first {
  background-position: 334px 199px;
}

.services_link_second {
  background-position: 290px 199px;
}

.services_link_third {
  background-position: 401px 199px;
}

.services_link_fourth {
  background-position: 408px 199px;
}

.services_link_first:hover{
  background-position: 345px 199px;
  color: #E9C479;
}

.services_link_second:hover{
  background-position: 301px 199px;
  color: #E9C479;
}

.services_link_third:hover{
  background-position: 412px 199px;
  color: #E9C479;
}

.services_link_fourth:hover {
  background-position: 425px 199px;
  color: #E9C479;
}

.services-item-link:focus{
  border: 1px solid #CC9933;
  color: #CC9933;
}

.services-item-link:active {
  color: #A47312;
}

.services-item-descr {
  max-width: 452px;
  margin: 0;
  padding: 229px 0 0 45px ;
  font-size: 16px;
  line-height: 200%;
}

.advantages {
  margin: 0;
}

.advantages-title {
  margin: 0 0 30px 0;
  padding: 0 0 0 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

.advantages-list {
  flex-flow: row wrap;
  margin: 0 0 70px 0;
}

.advantages-item {
  width: 275px;
  min-height: 275px;
  border-radius: 15px;
  background-color: #FFFFFF;
  background-position: 45px 40px;
  background-repeat: no-repeat;
  background-size: 66px 64px;
}

.advantages-item:not(:nth-child(4n)) {
  margin: 0 23px 0 0;
}

.advantages-item:nth-child(1) {
  margin-bottom: 23px ;
  background-image:url(../img/img_5.svg);
}

.advantages-item:nth-child(2) {
  margin-bottom: 23px ;
  background-image:url(../img/img_6.svg);
}

.advantages-item:nth-child(3) {
  margin-bottom: 23px ;
  background-image:url(../img/img_7.svg);
}

.advantages-item:nth-child(4) {
  margin-bottom: 23px ;
  background-image:url(../img/img_8.svg);
}

.advantages-item:nth-child(5) {
  margin-bottom: 23px ;
  background-image:url(../img/img_9.svg);
}

.advantages-item:nth-child(6) {
  margin-bottom: 23px ;
  background-image:url(../img/img_10.svg);
}

.advantages-item:nth-child(7) {
  margin-bottom: 23px ;
  background-image:url(../img/img_11.svg);
}

.advantages-item:nth-child(8) {
  margin-bottom: 23px ;
  background-image:url(../img/img_12.svg);
}

.advantages-descr {
  margin: 0;
  padding: 116px 42px 41px 45px;
  font-size: 16px;
  line-height: 200%;
}

.placement {
  margin: 0;
  margin-bottom: 70px;
}

.placement-title {
  margin: 0 0 30px 0;
  padding: 0 0 0 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

.placement-list {
  flex-flow: row wrap;
  margin: 0;
}

.placement-item {
  width: 374px;
  min-height: 440px;
  margin: 0 23px 23px 0;
  overflow: hidden;
  border-radius: 15px;
  background-color: #FFFFFF;
}
.placement-item:nth-child(3n) {
  margin: 0 0 23px 0;
}
.placement-item:last-child {
background-image: url(../img/img_26.jpg);
background-size: cover;
background-repeat: no-repeat;
}

.placement-item-artecle {
  margin: 0 ;
}

.placement-img {
  margin: 0 0 35px 0;
}

.placement-item-descr {
  display: inline-block;
  margin: 0 44px 16px 0;
  padding-left: 45px;
  font-size: 16px;
  line-height: 16px;
}

.placement-item-estimate {
  display: inline-block;
  margin: 0;
}

.placement-item-star {
  margin: 0;
}

.placement-item-title {
  margin: 0 0 16px 0;
  padding-left: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.placement-item-text {
  margin: 0 0 20px 0;
  padding-left: 45px;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.placement-item-btn {
  margin: 0 0 0 45px;
  padding: 13px 20px;
  border-radius: 15px;
}

.placement-item-btn:hover {
  border: 1px solid #CC9933 ;
  color: #FFFFFF;
  background-color: #CC9933;
}

.placement-item-btn:focus {
  border: 1px solid #CC9933 ;
  color: #FFFFFF;
  background-color: #CC9933;
}

.placement-item-btn:active {
  border: 1px solid #A47312 ;
  color: #FFFFFF;
  background-color: #A47312;
}

.placement-item-link {
  display: inline-block;
  padding: 373px 53px 27px 54px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #FFFFFF ;
  background-image: url(../img/rectangle_3.svg);
  background-position: 310px 384px;
  background-repeat: no-repeat;
}

.block{
  margin-bottom: 70px;
  padding-bottom: 71px;
  border-radius: 15px;
  background: #E9E9E9;
}

.block-main {
  padding: 38px 0 0 0;
}

.block-title{
  margin: 0 0 19px 0;
  padding: 0 0 0 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

.block-form {
 margin: 0;
 padding: 0 45px;
}

.block-List{
  min-height: 106px;
  padding: 0 28px;
  align-items: center;
  border-radius: 15px;
  background-color: #FFFFFF;
}

.block-item{
  min-height: 50px;
}

.legend {
  display: block;
  margin: 0 0 15px 0;
  font-size: 12px;
  line-height: 12px;
}

.block-item:not(:first-child){
  padding: 0 0 0 20px;
  border-left: 1px solid #E1E1E1;
}

.sity {
  max-width: 169px;
  margin: 0 20px 0 0 ;
  border: none;
}

.country {
  max-width: 169px;
  margin: 0 20px 0 0;
  border: none;
}

.date {
  max-width: 131px;
  margin: 0 20px 0 0;
  border: none;
}

.nights {
  max-width: 121px;
  margin: 0 20px 0 0;
  border: none;
  border-bottom: 1px solid #CCCCCC;
}

.people {
  max-width: 121px;
  margin: 0 30px 0 0;
  border: none;
  border-bottom: 1px solid #CCCCCC;
}

.block-button {
  margin: 0;
  padding: 13px 30px;
  align-items: center;
  border-radius: 10px;
}


.block-button:hover {
  border: 1px solid #CC9933 ;
  color: #FFFFFF;
  background-color: #CC9933;
}

.block-button:focus {
  border: 1px solid #CC9933 ;
  color: #FFFFFF;
  background-color: #CC9933;
}

.block-button:active {
  border: 1px solid #A47312 ;
  color: #FFFFFF;
  background-color: #A47312;
}


.block-List > .block-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}

.contact {
margin-bottom: 19px;
}

.contact-headline {
  margin: 0 0 30px 0;
  padding: 0 0 0 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

.contact-unified {
  flex-direction:column;
  flex-wrap: nowrap;
  background-color: #FFFFFF;
  border-radius: 15px;
  background-image: url(../img/layer.jpg);
  background-position: 471px 44px;
  background-size: 653px 528px;
  background-repeat: no-repeat;
}

.contact-list {
  flex-direction:column;
  padding: 44px 0 0 44px;
}

.contact-item {
  margin-bottom: 25px;
  max-width: 375px;
  align-content: flex-start;
  border-bottom:1px solid #C4C4C4;
}

.contact-item:last-child {
  margin-bottom: 0;
}

.contact-title {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.adres {
  margin: 0 83px 51px 0;
}

.tel {
  margin:0 47px 51px 0;
}

.e-mail {
  margin:0 84px 101px 0 ;
}

.chart {
  margin: 0 74px 51px 0 ;
}

.contact-text {
  max-width: 229px;
  display: inline-block;
  margin: 0;
}

.contact-text-link {
  display: block;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
}

.contact-text-link:hover {
  color: #E9C479;
}

.contact-text-link:focus {
  color: #CC9933;
  border: 1px solid #CC9933;
}

.contact-text-link:active {
  color: #A47312;
}

.contact-desc{
margin: 0;
font-size: 16px;
line-height: 150%;
color: #999999;
}

.contact-mail {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
}

.contact-mail:hover {
  color: #E9C479;
}

.contact-mail:focus {
  color: #CC9933;
  border: 1px solid #CC9933;
}

.contact-mail:active {
  color: #A47312;
}

.contact-button{
  padding:45px 0 0 46px;
  margin-bottom: 45px;
}

.contact-btn {
  padding: 27px 29px;
  border-radius: 15px;
  font-size: 16px;
  line-height: 16px;
}

.contact-btn:hover {
  border: 1px solid #CC9933 ;
  color: #FFFFFF;
  background-color: #CC9933;
}

.contact-btn:focus {
  border: 1px solid #CC9933 ;
  color: #FFFFFF;
  background-color: #CC9933;
}

.contact-btn:active {
  border: 1px solid #A47312 ;
  color: #FFFFFF;
  background-color: #A47312;
}

.footer {
  height: 341px;
  width: 1168px;
  border-radius: 15px;
  background-color: #333333;
  background-image: url(../img/footer-logo.svg);
  background-position: 737px 113px;
  background-repeat: no-repeat;
}

.footer-right {
  padding:44px 0 0 52px;
  margin-right: 102px;
}

.footer-center {
  padding: 51px 0 0 0;
  margin-right: auto;
}

.footer-left {
  padding: 51px 0 0 0;
}

.footer-text {
  display: block;
  max-width: 320px;
  margin:0 0 30px 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 190%;
  color: #FFFFFF;
}

.footer-text:not(:first-child) {
  margin:0 0 49px 0;
}

.footer-link {
  display: inline-block;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933
}

.footer-adres {
  max-width: 358px;
  margin: 0 0 14px 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}

.footer-center-tel,
.footer-center-mail {
  max-width: 152px;
}

.footer-tel {
  display: inline-block;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933
}

.footer-tel:last-child{
  margin-bottom: 15px;
}


.footer-tel:hover {
  color: #E9C479;
}

.footer-tel:focus {
  color: #CC9933;
  border: 1px solid #CC9933;
}

.footer-tel:active {
  color: #A47312;
}

.footer-mail {
  display: inline-block;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933
}

.footer-mail:hover {
  color: #E9C479;
}

.footer-mail:focus {
  color: #CC9933;
  border: 1px solid #CC9933;
}

.footer-mail:active {
  color: #A47312;
}

.footer-img {
  display: block;
  margin: 0 51px 20px 0;
}

.footer-img, path:hover {
fill: #CC9933;
}

.footer-img, path:focus {
  fill: #CC9933;
}

.footer-img, path:active {
  fill: #A47312;
}
